* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #6D5D6E;
}

p {
  font-size: 16px;
  color: initial;
  margin-bottom: 20px;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #393646;
  margin-bottom: 20px;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: #f3f3f3;
  padding: 20px;
  box-shadow: 0px 2px 20px -8px rgba(0, 0, 0, .3);
}

.header .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.header .header_wrapper .logo {
  font-size: 30px;
  font-weight: 700;
  color: #333;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
  font-size: 16px;
  gap: 24px;
  transition: font-weight .3s ease;
}

.menu a.active,
.menu a:hover {
  font-weight: 700;
}

.content {
  padding: 20px 0;
}

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.product .product_item {
  width: calc(100% / 4 - 18px);
  box-shadow: 0px 2px 20px -8px rgba(0, 0, 0, .3);
  border-radius: 5px;
  overflow: hidden;
}

.product .product_item .product_item-figure {
  background-color: #F4EEE0;
  display: block;
  width: 100%;
  height: 200px;
}

.product .product_item .product_item-content {
  padding: 20px;
}

.product .product_item .product_item-content .product_item-content__title {
  display: block;
  font-size: 20px;
  margin-bottom: 6px;
}